strongly-connected-components/edges.txt
strongly-connected-components/nodes.txt
strongly-connected-components/generator
**/README.html
docs/
*.pdf
tmp/
*.cpp:tests
*.out
*.pdf
**/main
.vscode/
resources/
./strongly-connected-components/data/pokec.txt
./strongly-connected-components/data/gplus.txt
./strongly-connected-components/data/web-Google.txt
./strongly-connected-components/data/journal.txt
./strongly-connected-components/data/twitter.txt
./strongly-connected-components/data/slashdot.txt
./strongly-connected-components/data/pokec.txt
./strongly-connected-components/data/web-NotreDame.txt
./strongly-connected-components/data/gplus.txt
./strongly-connected-components/data/web-Google.txt
./strongly-connected-components/data/output_pokec.txt
./strongly-connected-components/data/journal.txt
